<h6 class="expero-port-name"><strong>{{port.name ? port.name : 'N/A'}}</strong></h6>
<a (click)="onSelect(port)">
  <span class="mr-1">
    <fa-icon [icon]="['far', 'file-alt']"></fa-icon>
  </span>
  View Details
</a>
