<form *ngIf="filters$ | async as filters" [formGroup]="form">
  <div class="pl-3">
    <div class="d-flex align-items-center">
      <span class="expero-switch pr-3">
        <input id="swCruise" formControlName="isCruise" name="isCruise" type="checkbox" />
        <label for="swCruise" class="bg-primary"></label>
      </span>
      <span class="expero-item-icon">
        <fa-icon [icon]="['fas', 'ship']"></fa-icon>
      </span>
      <span class="flex-fill pl-3 expero-item-desc">
        Cruise Ship Ports
      </span>
    </div>
    <div class="d-flex align-items-center mt-2">
      <span class="expero-switch pr-3">
        <input id="swCargo" formControlName="isCargo" name="isCargo" type="checkbox" />
        <label for="swCargo" class="bg-primary"></label>
      </span>
      <span class="expero-item-icon">
        <fa-icon [icon]="['fas', 'truck-loading']"></fa-icon>
      </span>
      <span class="flex-fill pl-3 expero-item-desc">
        Cargo Ports
      </span>
    </div>
  </div>
</form>
