:host {
  height: 100%;
}

.expero-wrapper {
  display: flex;
  width: 100%;

  .expero-content {
    width: calc(100% - 400px);
    margin-left: 400px;
    margin-top: 64px;
    position: relative;
    display: flex;
  }    
}
