<h1>Expero Shipping Planner</h1>
<nav class="nav">
  <!-- <a routerLink="/counter" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" class="m-2">Counter</a> -->
  <a routerLink="/shipping-planner" routerLinkActive="active-link" class="m-2">Go to Shipping Planner</a>
</nav>
