// Override Bootstrap Default Variables (this file adds the custom variables that override the default bootstrap styles)
//
// define primary, secondary, warn, warning, success and info colors
$expero-primary: #1194f6;
$expero-secondary: #2b3d50;
$expero-warn: #c62828;
$expero-warning: #fff176;
$expero-success: #43a047;
$expero-info: #81d4fa;

$expero-base: #2d2d2d;


//
// Color system
//
$theme-colors: ("primary": $expero-primary,
"secondary": $expero-secondary,
"success": $expero-success,
"info": $expero-info,
"warning": $expero-warning,
"danger": $expero-warn);

// Body
//
// Settings for the `<body>` element.
$body-bg: #fff;
$body-color: $expero-base;

// Components
//
// Define common padding and border radius sizes and more.

$border-color:               #dddddd;
$box-shadow-sm:              0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

// Fonts
//
// Font, line-height, and color for body text, headings, and more.
// stylelint-disable value-keyword-case

$text-muted: rgba(0, 0, 0, 0.5);

// stylelint-enable value-keyword-case
$font-size-base: 0.875rem; // Assumes the browser default, typically `16px`
$font-size-lg: 1rem;
$font-size-sm: 0.8125rem;

// Forms

$input-placeholder-color: $text-muted;

// Components

$border-radius: .125rem;

// Breadcrumbs
$breadcrumb-bg: transparent;
$breadcrumb-divider-color: $expero-base;
$breadcrumb-active-color: $expero-base;
$breadcrumb-divider: quote(">");
$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;