<app-port-list [viewMode]="'details'"></app-port-list>
<div class="p-4">
  <div class="row">
    <div class="col-12 col-lg-6">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/shipping-planner']">Port Map</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{port | portName}}</li>
        </ol>
      </nav>
      <h4>{{port | portName}}</h4>
      <div class="mb-3">
        <a href="javascript:">
          <span class="mr-2">
            <fa-icon [icon]="['fas', 'globe']"></fa-icon>
          </span>
          {{port?.website ? port?.website : 'N/A'}}
        </a>
      </div>
      <div class="form-group">
        <div class="row mb-2">
          <label class="col-md-3 mb-0">Type</label>
          <div class="col-md-9">
            <b>{{port | portType}}</b>
          </div>
        </div>
        <div class="row">
          <label class="col-md-3 mb-0">City</label>
          <div class="col-md-9">
            <strong>{{port?.city}}</strong>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row mb-2">
          <label class="col-md-3 mb-0">Latitude</label>
          <div class="col-md-9">
            <b>{{port?.latitude}}</b>
          </div>
        </div>
        <div class="row">
          <label class="col-md-3 mb-0">Longitude</label>
          <div class="col-md-9">
            <strong>{{port?.longitude}}</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="expero-port-map shadow d-inline-block">
        <app-map *ngIf="port" [latitude]="port?.latitude" [longitude]="port?.longitude" [type]="port?.type">
        </app-map>
      </div>
    </div>
  </div>
</div>
