.expero-search-bar {
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    height: 64px;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);

    .expero-search-form {
        width: 100%;
        max-width: 750px;
        .input-group {
            width: 100%;
        }
    }
}