<nav class="navbar navbar-secondary bg-secondary justify-content-center expero-search-bar">
  <form class="form-inline expero-search-form">
    <div class="input-group">
      <div class="input-group-prepend">
        <button class="btn btn-primary" type="button" id="btn-search">
          <fa-icon [icon]="['fas', 'search']"></fa-icon>
        </button>
      </div>
      <input type="text" class="form-control" placeholder="Search Ports..." aria-label="Search ports" aria-describedby="btn-search">
    </div>
  </form>
</nav>
