

.expero-port-nav {
    padding-top: 64px;
    width: 400px;
    position: fixed;
    z-index: 88;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: -6px 2px 3px 7px rgba(0, 0, 0, 0.2);

    .expero-results {
        flex: 1 auto;
        overflow: hidden;
        overflow-y: auto;

        app-port-list-item {
            display: block;
            margin-top: 12px;
            margin-right: 12px;
            margin-left: 12px;
            border: 1px solid #DDD;
            cursor: pointer;
            font-weight: 500;

            &:hover {
                border-color: transparent;
                background-color: #1194f6;
                color: #FFF !important;
            }
            &.active {
                border-color: transparent;
                background-color: #1194f6;
                color: #FFF !important;
            }
        }
    }
}

:host ::ng-deep  app-port-list-item {
    .expero-map-indicator {
        display: none;
        color: grey;
    }
    &:hover {
        .expero-item-icon {
            color: #FFF !important;
        }
        .expero-map-indicator {
            display: block;
            color: #FFF !important;
        }
    }
    &.active {
        .expero-item-icon {
            color: #FFF !important;
        }
        .expero-map-indicator {
            display: block;
            color: #FFF !important;
        }
    }
}