<nav class="expero-port-nav">
  <div class="expero-filters p-3 expero-border-bottom-solid">
    <app-filters></app-filters>
  </div>
  <div class="expero-results">
    <app-port-list-item *ngFor="let port of portList | portsFilter:filters"
          [viewMode]="viewMode" [port]="port"
          (click)="onSelect(port)" class="p-3 d-block rounded shadow-sm"
          [ngClass]="{'active':port.id === selectedPort?.id}">
    </app-port-list-item>
  </div>
</nav>
