.expero-item-container {
    font-size: 15px;
    .expero-item-icon {
        width: 24px;
        font-size: 20px;
        color: #1194f6;
    }
    .expero-map-indicator {
        font-size: 18px;
    }
}
