<div class="d-flex align-items-center expero-item-container">
  <span class="expero-item-icon">
    <fa-icon *ngIf="port.type==='cruise'" [icon]="['fas', 'ship']"></fa-icon>
    <fa-icon *ngIf="port.type==='port'" [icon]="['fas', 'truck-loading']"></fa-icon>
  </span>
  <span class="flex-fill pl-3">
    {{port | portName}}
    <span class="float-right expero-map-indicator" (click)="switchView()">
        <fa-icon *ngIf="viewMode === 'map'" [icon]="['fas', 'file-alt']"></fa-icon>
        <fa-icon *ngIf="viewMode === 'details'" [icon]="['fas', 'map']"></fa-icon>
    </span>
  </span>
</div>
